<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Signup Confirmation</title>
    <link rel="stylesheet" href="../static/css/successstyle.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>You've successfully signed up!</h1>
            <p>Welcome to the Discord At Home community. We're excited to have you join us.</p>
            <a href="index.html" class="button">Go back to Login</a>
        </div>
    </div>
</body>
</html>
